<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <span *ngIf="projectForm.get('name').invalid && projectForm.get('name').touched">
              <span class="help-block" *ngIf="projectForm.get('name').errors['invalidProjectName']">Name is invalid!</span>
              <span class="help-block" *ngIf="projectForm.get('name').errors['required']">Please enter your name!</span>
              <span class="help-block" *ngIf="projectForm.get('name').errors['asyncInvalidProjectName']">Name is invalid2!</span>
            </span>

        </div>
        <div class="form-group">
            <label for="email">Mail: </label>
            <input type="text" id="email" class="form-control" formControlName="email">
            <span *ngIf="projectForm.get('email').invalid && projectForm.get('name').touched">
                <span class="help-block" *ngIf="projectForm.get('email').errors['required']">Please enter your email!</span>
                <span class="help-block" *ngIf="projectForm.get('email').errors['email']">Please enter a valid email!</span>
            </span>

        </div>
        <div class="form-group">
            <label for="status">Status: </label>
            <select id="status" formControlName="status">
              <option [value]="option" *ngFor="let option of statusList" >{{option}}</option>
            </select>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" [disabled]="!projectForm.valid && projectForm.touched">
        </div>
        <span class="help-block" *ngIf="projectForm.invalid && projectForm.touched">Please correct invalid data!</span>
      </form>
    </div>
  </div>
</div>
